* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#game {
    width: 500px;
    height: 205px;
    border: 1px solid black;
    margin: auto;
}

#character {
    width: 50px;
    height: 50px;
    background-image: url(dino.png);
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
}

.animate {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

#block {
    width: 40px;
    height: 40px;
    background-image: url(batu.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    position: relative;
    top: 115px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 480px;
    }

    100% {
        left: -40px;
    }
}

p {
    text-align: center;
}